.Info {
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    backdrop-filter: blur(80%);
    justify-content: space-between;
      box-shadow: white 0px 2px 10px 1px;

}

.text {
    margin-right: 300px;
    margin-top: 40px;
}

.text h2 {
    color: white;
    font-size: 40px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.text h3 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px;
    color: #d5e0e4;
}

.name{
    color: rgb(255, 255, 255);
        font-size: 50px;

   
}

.image img {
    width: 180px;
    height: auto;
    border-radius: 150px;
    border: .5px solid rgb(255, 255, 255);
    margin-left: 200px;
    filter: drop-shadow(5px 1px 10px #d5e0e4);
    margin-top: 40px;
}

@media (max-width: 950px) {
    .Info {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
    }

    .text {
        margin-right: 0; /* Remove right margin on smaller screens */
        text-align: center; /* Center text */
    }

    .image img {
        margin-left: auto; /* Align image to right */
        margin-right: auto; /* Align image to left */
        display: block; /* Center image horizontally */
        margin-bottom: 20px; /* Add bottom margin */
    }
}


@media (max-width: 1300px ) and (min-width:950px) {


    .text {
        margin-right: 150px; /* Remove right margin on smaller screens */
        text-align: center; /* Center text */
    }

    .image img {
        margin-left: 150px; /* Align image to right */
        margin-right: auto; /* Align image to left */
        display: block; /* Center image horizontally */
    }
}